mysports/admin.web/src/main/webapp/xsds/leagues.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="leagues">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="league" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="league">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
        
    </xs:element>

</xs:schema>